.container{
    display: flex;
    gap: 20px;

}
.card-container{
    width: 900px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.area{
    width: 200px;
    margin: 0 auto;
    border: 1px solid gray;
}